body {
    font-family: arial;
    margin : 0;
    
}
h1 {
    color: rgb(45, 253, 45);
}

header h1{
    background : rgb(179, 173, 144);
    padding-left: 10px;
}
.col {
    padding-left: 10px;
    float: left ;
    margin: 5px;
    background: #666;
    
}
.row{
    
}
footer{
    clear: both;
}
