body {
    font-family: arial;
    margin : 0;
    
}
h1 {
    color: rgba(55, 202, 247, 0.938);
}

header h1{
    background : rgb(179, 173, 144);
    padding-left: 10px;
}
.col {
    padding-left: 10px;
    float: left ;
    margin: 5px;
    background: #666;
    
}

footer{
    clear: both;
}
